<div class="card p-3">
  <h2>{{'Products::EditProduct' | abpLocalization}}  </h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="w-full">
        <label for="nameAr" class="block text-sm font-medium">{{'Products::ProductNameAr' | abpLocalization}} :</label>
        <input type="text" formControlName="nameAr" id="nameAr" class="form-control w-full">
      </div>

      <div class="w-full">
        <label for="nameEn" class="block text-sm font-medium">{{'Products::ProductNameEn' | abpLocalization}} :</label>
        <input type="text" formControlName="nameEn" id="nameEn" class="form-control w-full">
      </div>
  
      <div class="w-full">
        <label for="descriptionAr" class="block text-sm font-medium">{{'Products::ProductDescAr' | abpLocalization}} :</label>
        <input type="text" formControlName="descriptionAr" id="descriptionAr" class="form-control w-full">
      </div>

      <div class="w-full">
        <label for="descriptionEn" class="block text-sm font-medium">{{'Products::ProductDescEn' | abpLocalization}} :</label>
        <input type="text" formControlName="descriptionEn" id="descriptionEn" class="form-control w-full">
      </div>

      <div class="w-full">
        <label for="categoryId" class="block text-sm font-medium">{{'Products::ProductCategory' | abpLocalization}} :</label>
        <select formControlName="categoryId" id="categoryId" class="form-control w-full">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.nameEn }}
          </option>
        </select>
      </div>

    <div class="flex items-center justify-end gap-4 mt-6">
      <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary m-1">{{'::Save' | abpLocalization}}</button>
      <button type="button" class="btn btn-secondary m-1" (click)="cancel() ">{{'::Cancel' | abpLocalization}}</button>
    </div>
  </form>
</div>
