<div class="container mt-4">
    <h2>{{'Categories::AddCategory' | abpLocalization}}</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{'Categories::CategoryNameAr' | abpLocalization}}</label>
        <input type="text" class="form-control" formControlName="nameAr" />
      </div>
  
      <div class="mb-3">
        <label class="form-label">{{'Categories::CategoryNameEn' | abpLocalization}}</label>
        <input type="text" class="form-control" formControlName="nameEn" />
      </div>
  
      <div class="mb-3">
        <label class="form-label">{{'Categories::CategoryNameAr' | abpLocalization}}</label>
        <textarea class="form-control" formControlName="descriptionAr"></textarea>
      </div>
  
      <div class="mb-3">
        <label class="form-label">{{'Categories::CategoryNameEn' | abpLocalization}}</label>
        <textarea class="form-control" formControlName="descriptionEn"></textarea>
      </div>
  
      <button type="submit" class="btn btn-success" [disabled]="categoryForm.invalid">{{'::Save' | abpLocalization}}</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="back()">{{'::Cancel' | abpLocalization}}</button>
    </form>
  </div>
  